<ion-view title="Gastos" id="page3">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Categoría</span>
                <select>
                    <option>Gasolina</option>
                    <option>Despensa</option>
                </select>
            </label>
        </form>
        <form class="list" >
            <label class="item item-select">
                <span class="input-label">Periodo</span>
                <select>
                    <option>Mes actual</option>
                    <option>Mes anterior</option>
                </select>
            </label>
        </form>
        <div class="card list stable-bg">
            <div class="item item-divider"><h3>Gasolina</h3></div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>2 de mayo
                        <span class="item-note">$400</span>
                    </ion-item>
                    <ion-item>6 de mayo
                        <span class="item-note">$500</span>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider pull-right">Total $900</div>
        </div>
    </ion-content>
</ion-view>