<ion-view title="Resumen" id="page1">
    <ion-content id="content1" padding="true" class="has-header stable-bg">
        

        <div class="list card">
            <div class="item item-divider calm-bg"><h2>Mayo 2016</h2></div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Renta
                        <span class="item-note">$4,500 / $4,500</span>
                    </ion-item>
                    <ion-item>Gasolina
                        <span class="item-note">$1,500 / $2,000</span>
                    </ion-item>
                    <ion-item>Despensa
                        <span class="item-note">$4,000 / $4,000</span>
                    </ion-item>
                    <ion-item>Comidas
                        <span class="item-note">$1,800 / $,2000</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>

        <button ui-sref="menu.categoria" class="button button-assertive button-fab button-fab-bottom-right activated" target-id="content1">
            <i class="icon ion ion-android-add"></i>
        </button>
        
    </ion-content>
</ion-view>